default:
  image: docker.io/zazukoians/node-java-jena:v4

stages:
  - fetch
  - process
  - store

# fetch the latest full import from the S3 bucket and split it
fetch:
  stage: fetch
  image:
    name: docker.io/minio/mc:latest
    entrypoint: [""]
  artifacts:
    paths:
      - output/
  script:
    - mc alias set bucket "${S3_ENDPOINT}" "${S3_ACCESS_KEY}" "${S3_SECRET_KEY}"
    - mkdir -p input
    - mc ls "bucket/${S3_BUCKET}/${S3_PATH}/"
    - ./scripts/fetch_input.sh
    - ./scripts/splitter.sh

# run the pipeline on each splitted part
process:
  stage: process
  dependencies:
    - fetch
  artifacts:
    paths:
      - output/
  services:
    - name: ghcr.io/zazuko/carml-service:v0.0.5
      alias: carml-service
  variables:
    CARML_SERVICE: "http://carml-service:8080/"
  script:
    - npm ci
    - ./scripts/generate_triples.sh
    - rm -f output/*.json
# store triples in the triplestore
# TODO
